html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a { text-decoration: none; }

body {
    background-color: #F2F2F2;
}

main {
    background-color: #FFFFFF;
}

header {
    background: #FFFFFF;
    box-shadow: 0 0 1em rgba(38, 38, 38, 0.16);
}

.row {
    display: flex;
    flex-wrap: wrap; /** Transference line **/
    align-items: center;
    justify-content: flex-start;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    box-sizing: border-box;
}

.col-1 { flex-basis: 8.3333% }

.col-2 { flex-basis: 16.6667% }

.col-3 { flex-basis: 24.9999% }

.col-4 { 
    flex-basis: 33.3332%;
    padding-left: 6px;
    padding-right: 6px;
 }

.col-6 { flex-basis: 49.9999% }

.col-7 { flex-basis: 58,3332% }

.col-8 { flex-basis: 66,6664% }

.col-9 { flex-basis: 74,9996% }

.col-12 { flex-basis: 100% }

/**--------Header--------**/

.header-container {
    margin: 0 auto;
    padding: 16px 0;
    width: 1130px;
}

/* Header logo block */

.header-logo {
    display: inline-block;
    margin-right: 117px;
}

/* Header location block */

.header-location {
    display: inline-block;
}

.header-location__asap {
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 16px;
    border: #E0E0E0 solid 1px;
    padding: 8px 12px;
    line-height: 24px;
    text-align: center;
}

.header-location__to {
    display: inline-block;
    margin-right: 9px;
    font-size: 16px;
    color: #626262;
}

.header-location__address {
    display: inline-block;
    position: relative;
}

.header-location__address .fa-map-marker-alt {
    position: absolute;
    top: 13px;
    left: 14px;
}

.header-location__address input {
    border: #E0E0E0 solid 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 16px;
    width: 292px;
    height: 40px;
    padding-left: 35px;
}

.header-location__address input[type="text"]::placeholder {
    color: #1D1D1D;
}

/* Header login block */

.header-login {
    display: inline-block;
    height: 100%;
    float: right;
    clear: both;
}

.button-sign-in {
    color: black;
    background-color: #FFFFFF;
    width: 80px;
    height: 40px;
    font-size: 13px;
}

.button-register {
    color: #FFFFFF;
    background-color: #262626;
    width: 80px;
    height: 40px;
    margin-right: 16px;
    font-size: 13px;
}

/** Main **/

.main-container {
    margin: 0 auto;
    width: 1130px;
}

.main-search {
    margin-top: 111px;
}

.main-search input {
    text-align: center;
    width: 223px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    opacity: 50%;
    outline: none;
    color: #626262;
    border: none;
}

.main-search hr {
    border: none;
    background-color: #757575;
    color: #757575;
    margin-right: 87px;
    height: 1px;
    width: 100%;
}

.main-caption {
    margin-top: 56px;
    color: #1D1D1D;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.card {
    margin-top: 16px;
}

.card ul {
    padding: 0;
}

.card ul:first-child {
    list-style-type: none;
    padding-left: 0;
}

.card li {
    display: inline-block;
}

/** Footer **/

footer {
    margin-top: 80px;
    height: 100%;
    background-color: #262626;
}

.footer-container {
    margin: 0 auto;
    width: 1130px;
}

.footer-logo {
    font-size: 26px;
    height: 116px;
}

.footer-logo__uber {
    color: #FFFFFF;
    padding-top: 18px;
}

.footer-logo__eats {
    color: #57AD56;
    display: inline-block;
    padding-top: 18px;
}

.first-footer-hr {
    border: none;
    background-color: #FFFFFF;
    color: #FFFFFF;
    height: 1px;
    width: 100%;
}

footer select {
    width: 227px;
    height: 40px;
    color: #FFFFFF;
    background-color: #1D1D1D;
}

 footer a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    padding-top: 23px;
    padding-bottom: 23px;
}

footer a:hover {
    color: #57AD56;
}

footer a:last-child { padding-bottom: 0; }

.footer-first-block {
    display: inline;
}

.footer-first-block_hashtag {
    padding-top: 33px;
    padding-bottom: 23px;
}

.footer-first-block_hashtag p {
    display: inline;
    color: #FFFFFF;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-first-block_hashtag span {
    color: #57AD56;
}

.footer-third-block {
    margin-top: 39px;
}

footer i {
    color: #FFFFFF;
    margin-top: 20px;
    padding-right: 20px;
}

.second-footer-hr {
    border: none;
    background-color: #FFFFFF;
    color: #FFFFFF;
    margin-top: 48px;
    height: 1px;
    width: 100%;
}

.mobile-app-block {
    display: flex;
    justify-content: center;
}

.mobile-app-block a {
    padding-left: 43px;
}

.third-footer-hr {
    border: none;
    background-color: #FFFFFF;
    color: #FFFFFF;
    height: 1px;
    width: 100%;
}

.bottom-link {
    color: #FFFFFF;
    font-size: 11px;
    line-height: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
